.site {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr 3fr;
}

.page-title {
    background: cyan;
    grid-column: 1/4;
    grid-row: 1/2;
}

.masterhead {
    grid-column: 2/4;
    grid-row: 2/3;
    background: green;
}

.main-content {
    grid-column: 1/2;
    grid-row: 2/4;
    background: darkgoldenrod;
}

.sidebar {
    grid-column: 2/3;
    grid-row: 3/4;
    background: darkgray;
}

.footer {
    grid-column: 3/4;
    grid-row: 3/4;
    background: darkmagenta;
}